$classic-margin: 12px;
$side-margin: 50px;

html {
  height: 100%;

  body {
    height: 100%;
    #root {
      height: 100%;
      .main-layout {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }
    }
  }
}

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

.page {
  height: 100%;
  display: flex;
}

.start {
  display: grid;
  grid-template-columns: 70% 30%;
  
  .one-half {
    grid-column: 2;
    grid-row: 1;
    margin: $classic-margin;
    display: flex;
    flex-direction: column;
    align-content: center;
    h1 {
      margin: 20px;
    }

    .key-input {
      display: flex;
      flex-direction: column;
      margin-bottom: $classic-margin;
      a {
        color: rgb(0, 188, 212);
        cursor: pointer;
        margin-left: $classic-margin;
      }
    }
  }

  .map-component {
    grid-column: 1;
    grid-row: 1;
  }

}

.margin-button {
  margin: $classic-margin;
}
.margin-input {
  margin: $classic-margin;
}

.error {
  color: red;
}

.slider-line {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.chart {
  margin: 0 $side-margin;
  flex-direction: column;
  overflow:hidden;
  .chart-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    .price {
      display: flex;
      flex-direction: row;

      p {
        padding-right: 10px;
      }
    }
  }
}

.info {
  flex-direction: column;

  h1 {
    width: 100%;
    background-color: red;
    text-align: center;
    color: white;
  }
  .content {
    margin: $side-margin * 2;
    font-size: 20px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  &:hover {
    color: rgb(0, 188, 212);
  }
}

.personal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .personal-link {
    margin: $classic-margin * 2 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    i {
      margin-right: $classic-margin;
    }
  }
}
